<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>applied</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="../bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">APPLIED</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <h1>Applied</h1>
    </div>
    <!-- add job button -->
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary add-job">Add New Job</button>
    </div>
    <!-- new or existing company -->
    <section id='add-question-info' class="container question">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" id='add-question'>
            <fieldset>
              <!-- add new company form -->
              <legend>Adding New Company?</legend>

              <div class="form-group">
                <div class="col-md-8 col-md-2-offset">
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-default add-yes">Yes</a>
                    <a class="btn btn-default add-no">No</a>
                    <a class="btn btn-default add-cancel">Cancel</a>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>

    <section id='new-job-info-form' class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" id='new-job-form'>
            <fieldset>
              <!-- add new company form -->
              <legend>New Job Information</legend>

              <div class="form-group">
                <label for="inputName" class="col-md-4 control-label">Company Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputName" name="company_name" placeholder="Name" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputHQ" class="col-md-4 control-label">Headquarters</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputHQ" name="hq" placeholder="City, State" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputFounded" class="col-md-4 control-label">Founded</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="founded" name="founded" placeholder="Year" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPosition" class="col-md-4 control-label">Position</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputPosition" name="position_name" placeholder="Title" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputLocation" class="col-md-4 control-label">Job Location</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputLocation" name="location" placeholder="City, State" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputURL" class="col-md-4 control-label">Job Posting</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputURL" name="job_url" placeholder="Paste URL">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Referral</label>
                <div class="col-md-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="referral" id="yes" value="true" checked="">
                      Yes
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="referral" id="no" value="false">
                      No
                    </label>
                  </div>
                </div>
              </div>

            </fieldset>
            <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous</a></li>
              <button type="submit" class="btn btn-primary submit">Submit</button>
            </ul>
          </form>
        </div>
      </div>
    </section>
    <!-- new add on form -->
    <section id='addon-job-info-form' class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" id='addon-job-form'>
            <fieldset>
              <legend>New Job Information</legend>

              <div class="dropdown">
                <label>Company</label>
                <br>
                <select id="company_name">
                  <script id="companies" type="text/x-handlebars-template">
                    {{#each companies}}
                    <option value="{{this._id}}">{{this.company_name}}</option>
                    {{/each}}
                  </script>
                </select>
              </div>

              <div class="form-group">
                <label for="inputPosition" class="col-md-4 control-label">Position</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputPosition" placeholder="Title" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputLocation" class="col-md-4 control-label">Location</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputLocation" placeholder="City, State" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label for="inputURL" class="col-md-4 control-label">Job Posting</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputURL" placeholder="Paste URL" autofocus="">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Referral</label>
                <div class="col-md-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="referral" id="yes" value="true" checked="">
                      Yes
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="referral" id="no" value="false">
                      No
                    </label>
                  </div>
                </div>
              </div>

            </fieldset>
            <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous</a></li>
              <button type="submit" class="btn btn-primary submit">Submit</button>
            </ul>
          </form>
        </div>
      </div>
    </section>

    <div id="job-postings">
      <script id="company-template" type="text/x-handlebars-template">
      <!-- {{positions}} -->
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <!-- {{companies}} -->
              <h3 class="company_name" data-company-id="{{_id}}">Company: {{company_name}}</h3>
              <div class="comp-info">
                <span class="hq">HQ: {{hq}}</span>
                <span class="founded">Founded: {{founded}}</span>
              </div>
            </div>
            <!-- <div class="button to toggle the hidden"> -->
            {{#each _positions}}
              <div class="panel-body post" data-position-id="{{this._id}}">
                <span class="position-name">Position: {{this.position_name}}</span>
                <span class="location">Location: {{this.location}}</span>
                <div class="">
                  <span class="referral">Referral: {{this.referral}}</span>
                  <a target="_blank" href="{{this.job_url}}" class="job-link">Job Posting Link</a>
                  <div class="pull-right">
                    <a href="javascript:void(0)" class="update-post" data-toggle="collapse" data-id={{this._id}}>
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="javascript:void(0)" class="delete-post" data-id={{this._id}}>
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </div>
                  <!-- edit form -->
                  <div class="collapse" data-position-id="{{this._id}}">
                  <br>
                  <form class="form-inline" id="update-post">
                    <div class="form-group">
                      <label for="inputPosition" class="col-md-4 control-label">Position</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="inputPosition" name="position_name" placeholder="Title" autofocus="" value="{{this.position_name}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputLocation" class="col-md-4 control-label">Job Location</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="inputLocation" name="location" placeholder="City, State" autofocus="" value="{{this.location}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputURL" class="col-md-4 control-label">Job Posting</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="inputURL" name="job_url" placeholder="Paste URL" value="{{this.job_url}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-4 control-label">Referral</label>
                      <div class="col-md-4">
                        <div class="radio">
                          <label>
                            <input type="radio" name="referral" id="yes" value="true" checked="" value="{{this.referral}}">
                            Yes
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="referral" id="no" value="false">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-block btn-default" value="Update">
                      <a class="btn btn-default cancel-edit">Cancel</a>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            {{/each}}
            <!-- </div> -->
          </div>
        </div>
      </script>
    </div>
    <footer>
      <div class="container">

      </div>
    </footer>
  </body>
</html>
