h1 {
  font: 100px;
  text-align: center;
}

.col-md-12 {
  text-align: center;
}

.jumbotron {
  /*background: no-repeat url("http://i.imgur.com/WPSfK6q.jpg") center top;*/
  background: no-repeat url("https://static.pexels.com/photos/7974/pexels-photo.jpg") center bottom;
  background-size: cover;
  color: rgba(255, 255, 250, 0.9);
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  text-transform: uppercase;
  width: 1080px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 110px 0;
}
